<html>
    <head>
    </head>
        <body>
            <script>
function getUserLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(sendLocationToServer);
  } else {
    console.error("Geolocation is not supported by this browser.");
  }
}

// Send location data to server
function sendLocationToServer(position) {
  const { latitude, longitude } = position.coords;
  fetch(`/locationtrace?latitude=${latitude}&longitude=${longitude}`)
    .then(response => {
      if (!response.ok) {
        throw new Error('Failed to update location.');
      }
    })
    .catch(error => {
      console.error('Error updating location:', error);
    });
}

// Update location every second
setInterval(getUserLocation, 1000);
            </script>
        </body>
    
</html>